{% extends "base.html" %}
<!-- load humanize -->
{% load humanize %}
{% load static %}
{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
        <h1 class="display-4">User Dashboard</h1>
        <p class="lead">Manage your BC Health Care account</p>
        </div>
    </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href={% url 'pages:index' %}> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
    </div>
</section>

<section id="dashboard" class="py-4">
    {% include "partials/_alert.html" %}
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        {% comment %} <h2>Welcome John</h2> {% endcomment %}
        <h2>Welcome {{user.first_name | title}}</h2>
        {% if contacts %}
        <p>Here are the clinic listings that you have inquired about</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Clinic</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    {% comment %} <td>22</td> {% endcomment %}
                    <td>{{contact.id}}</td>
                    {% comment %} <td>Harmony Health Clinic</td> {% endcomment %}
                    <td>{{contact.listing}}</td>
                    <td>
                    {% comment %} <a class="btn btn-light" href="#">View Listing</a> {% endcomment %}
                    <a class="btn btn-light" href="{ url 'listings:listing' contact.listing_id}">View Listing</a>
                    <button class ="btn btn-danger" data-url="{% url 'contacts:delete_contact' contact.id %}" data-toggle="modal" data-target="#deleteConfirmModal" data-id="{{contact.id}}">Delete Listing</button>
                    <a class ="btn btn-success" href="{% url 'contacts:edit_contact' contact.id %}"> Edit Listing</a>
                    </td>
                </tr>
                {% endfor %}
                {% comment %} <tr>
                    <td>43</td>
                    <td>BrightCare Health Clinic</td>
                    <td>
                    <a class="btn btn-light" href="#">View Listing</a>
                    </td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>Healing Horizons Clinic</td>
                    <td>
                    <a class="btn btn-light" href="#">View Listing</a>
                    </td>
                </tr> {% endcomment %}
            </tbody>
        </table>
        {% else %}
            <p>You have No inquiries.</p>
        {% endif %}
        </div>
    </div>
    </div>
</section>
<!--delete Modal-->
<div class="modal fade" id="deleteConfirmModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button class="close" type="button" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure deleting this record?</p>
                <a class="btn btn-danger" href="" id="confirmDeleteBtn">Yes</a>
                <button class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
{% endblock %}